import(recount)
import(GenomicRanges)
import(limma, except = c(plotMA))
import(edgeR)
import(DESeq2)
import(regionReport)
import(clusterProfiler)
import(org.Hs.eg.db)
import(gplots, except = c(space))
import(derfinder)
import(rtracklayer)
import(GenomicFeatures)
import(bumphunter)
import(derfinderPlot)
import(devtools)
import(rmarkdown, except = c(pdf_document, html_document, md_document))
import(knitcitations)
import(BiocStyle)
import(knitr)
