import(recount)
import(GenomicRanges)
import(limma, except = c(plotMA))
import(edgeR)
import(DESeq2)
import(regionReport)
import(clusterProfiler)
import(org.Hs.eg.db)
import(gplots, except = c(space))
import(derfinder)
import(GenomicState)
import(bumphunter)
import(derfinderPlot)
